.card {
  background-color: hsl(216, 50%, 16%);
  width: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.15s;
  height: 500px;
  font-weight: 300;
}

.value {
  color: hsl(178, 100%, 50%);
  font-weight: 400;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}
