.card {
  background-color: hsl(216, 50%, 16%);
  width: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.15s;
  height: 500px;
  font-weight: 300;
}

.value {
  color: hsl(178, 100%, 50%);
  font-weight: 400;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.title {
  font-size: 22px;
  color: white;
  font-weight: 600;
}
.name:hover,
.title:hover {
  color: hsl(178, 100%, 50%);
}

.name {
  color: white;
}

.image_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 15px;
}

.image_overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 255, 0.459);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  border-radius: inherit;
  transition: opacity ease-out 0.3s;
}

.image_overlay:hover {
  opacity: 1;
}
